<div class="row">
  <div class="col-md-9">
    <h1>Lista de Contactos</h1>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-9">
    <table class="table table-bordered">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Acciones</th>
      </tr>
      <tr ng-repeat="contact in contacts">
        <td>{{contact.name}}</td>
        <td>{{contact.lastname}}</td>
        <td>
          <a href="/contact/{{contact.id}}" class="btn btn-primary">Ver</a>
        </td>
      </tr>
    </table>
  </div>
</div>
