<div class="row">
  <h1>Contacto</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered">
      <tr>
        <th>ID: </th>
        <td>{{contact.id}}</td>
      </tr>
      <tr>
        <th>Nombre: </th>
        <td>{{contact.name}}</td>
      </tr>
      <tr>
        <th>Apellido: </th>
        <td>{{contact.lastname}}</td>
      </tr>
      <tr>
        <th>Edad: </th>
        <td>{{contact.age}}</td>
      </tr>
      <tr>
        <th>Teléfono</th>
        <td>{{contact.phone}}</td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <a href="/" class="btn btn-primary">Regresar</a>
</div>
